.idecideList {
  margin: 8em 10em 0;
  text-align: center;
}

img.idecideList__background {
  object-fit: cover;
  opacity: 0.15;
  width: 100vh;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -200px;
  /* border-radius: 50px; */
}

.idecideList img {
  margin-bottom: 2em;
  border-radius: 18px;
  opacity: 0.9;
}

.idecideList__list {
  /* margin: 8em 7em; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5em;
  justify-items: center;
}

@media screen and (max-width: 1400px) {
  .idecideList { margin: 8em 0 4em }
  .idecideList__list {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 4em;
  }
}

@media screen and (max-width: 900px) {
  .idecideList__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .idecideList { margin: 6em 0 }
  .idecideList__list {
    margin: 0 2.4em;
    gap: 2.3em;
  }
}

@media screen and (max-width: 480px) {
  .idecideList { margin-bottom: 2em }
  .idecideList img { margin-bottom: 1em }
  .idecideList__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1em;
  }
  .MuiPaper-root.MuiCard-root {
    max-width: none;
  }
}

/* @media screen and (max-width: 444px) {
  .idecideList__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1em;
  }

  .MuiPaper-root.MuiCard-root {
    max-width: none;
  }
} */