@import "../../breakpoints/MediaBreakpoints.scss";

.scrollToTop {
  z-index: 2;
  position: fixed;
  cursor: pointer;
  bottom: 40px;
  right: 40px;
  width: 70px;
  height: 70px;
  border-radius: 30%;
  background: #4e0066;
  opacity: 0.61;
  .icon {
    margin: 17px 0 0 21px;
    font-size: 2em;
    animation: scrollTop 0.5s alternate ease infinite;
  }

  
  @include media('<=desktop') {
    right: 40px;
  }
  @include media('<desktop', '<=lgphone') {
    bottom: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    .icon {
      margin: 10px 0 0 13px;
      font-size: 1em;
      animation: scrollTop 0.5s alternate ease infinite;
    }
  }
}

// .scrollToTop .icon {
//   margin: 17px 0 0 21px;
//   font-size: 2em;
//   animation: scrollTop 0.5s alternate ease infinite;
// }

@keyframes scrollTop {
  from {
    transform: translateY(2px)
  }
  to {
    transform: translateY(-1px)
  }
}
