@import "../../breakpoints/MediaBreakpoints.scss";


.contact__wrapper {
  background: #4F0E74;
  height: 90vh;
  @include media('<desktop', '<=tablet') {
    height: 70vh;
  }
  @include media('<lgphone', '<=phone') {
    height: 100vh;
  }
  .contact__innerWrapper {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    .contact__testimonialWrapper {
      width: calc(100% - 40px);
      margin: 0 auto;
      letter-spacing: 0.011em;
      .contact__quotesIcon {
        // font-size: 3.6em;
        font-size: calc(2.4em + 1vh);
        opacity: 80%;
        color: white;
      }

      .contact__testimonial {
        // font-size: 1.4em;
        font-size: calc(1em + 0.5vw);
        line-height: 1.5em;
        font-family: 'Alegreya Sans';
        // text-align: justify;
        span {
          font-size: 0.8em;
          color: #F5E051;
          font-weight: 500;
        }
      }
    }

    .contact__info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 30px 20px 30px 0;
      .contact__myInfo {
        padding-right: 2em;
        line-height: 2.7em;
        text-align: end;
        opacity: 95%;
        font-weight: 300;
      }
      img {
        min-width: 70px;
        background: #fff;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 5px solid #fff;
        // z-index: 999;
      }
    }
    
    @include media('<=desktop') {
      left: 45%;
      .contact__testimonialWrapper {
        width: 115%;
        .contact__testimonial {
          font-size: 1.11em;
        }
      }
      
      .contact__info {
        margin: 20px -70px 30px 0;
        .contact__myInfo {
          font-size: 0.9em;
          padding-right: 1.5em;
        }
        img {
          width: 130px;
          height: 130px;
        }
      }
    }

    @include media('<desktop', '<=tablet') {
      top: 35%;
      left: 40%;
      .contact__testimonialWrapper {
        width: 133%;
        .contact__quotesIcon {
          font-size: 2.6em;
        }
        .contact__testimonial {
          font-size: 1em;
        }
      }
      
      .contact__info {
        margin: 30px -90px 30px 0;
        .contact__myInfo {
          font-size: 0.85em;
          padding-right: 1.5em;
        }
      }
    }

    
    @include media('<tablet', '<=lgphone') {
      left: 38%;
      .contact__testimonialWrapper {
        .contact__quotesIcon {
          font-size: 2.2em;
        }
        .contact__testimonial {
          font-size: 1em;
          letter-spacing: 0.011em;
        }
      }
      
      .contact__info {
        margin: 35px -60px 30px 0;
        .contact__myInfo {
          font-size: 0.8em;
          padding-right: 1em;
        }
        img {
          width: 100px;
          height: 100px;
        }
      }
    }

    @include media('<lgphone', '<=phone') {
      left: 50%;
      top: 50%;
      .contact__testimonialWrapper {
        width: 100%;
        .contact__testimonial {
          font-size: 0.9em;
        }
      }
      
      .contact__info {
        margin: 35px 0 30px;
        .contact__myInfo {
          font-size: 0.6em;
          padding-right: 1em;
        }
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}