.large > .MuiButtonBase-root > span.MuiButton-label {
  padding: 10px;
}

.medium > .MuiButtonBase-root > span.MuiButton-label {
  padding: 10px;
}

.small > .MuiButtonBase-root > span.MuiButton-label {
  padding: 5px;
}

.color__white > button.MuiButtonBase-root.MuiButton-root > span.MuiButton-label {
  color: white !important;
}


.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary.blackText > span.MuiButton-label {
  color: black !important
}