.size__large > .MuiButtonBase-root > span.MuiButton-label {
  padding: 10px;
}

.size__medium > .MuiButtonBase-root > span.MuiButton-label {
  padding: 10px;
}

.size__small > .MuiButtonBase-root > span.MuiButton-label {
  padding: 5px;
}