@import "../../breakpoints/MediaBreakpoints.scss";

// https://www.youtube.com/watch?v=j1AhSWFcZpg
$desktop: 1366px;
$tablet: 768px;
$lgphone: 480px;
$phone: 360px;

.hero__wrapper {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: rotate(180deg)
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    video::-webkit-media-controls {
      display: none !important;
    }
  }
  /* background: url('') ceneter center/cover no-repeat; */
  // background-size: cover;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.66);
  object-fit: cover;
  width: 100%;
  // position: fixed;

  .hero__innerWrapper {
    position: absolute;
    top: 25%;
    left: 10%;
    white-space: nowrap !important;
    // padding: 1.5em; /* this is MOBILE padding */
    max-width: 1200px; /* impedir width que cubra toda la pantalla cuando disminuye */
    .hero__buttons {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
    }
    .hero__content {
      padding-bottom: 2em;
      font-weight: 700;
      .succeed {
        font-size: 4.5em;
        color: #F5E051;
      }
      .without-selling {
        font-size: 2.5em;
        padding-left: .7em;
      }
    
      .build-your {
        font-size: 2.5em;
        padding-right: .7em;
      }
      .legacy {
        font-size: 4.5em;
        color: #B06ADF;
      }
    }
    @include media('<=desktop') {
      top: 30%;
      .hero__content {
        .succeed { font-size: 4.3em }
        .without-selling { font-size: 1.7em }
        .build-your { font-size: 1.7em }
        .legacy { font-size: 4.3em }
      }
    }
    @include media('<desktop', '<=1000px') {
      top: 17%;
    }
    @include media('<1000px', '<=tablet') {
      top: 17%;
      .hero__content {
        .succeed { font-size: 4em }
        .without-selling { font-size: 1.5em }
        .build-your { font-size: 1.5em }
        .legacy { font-size: 4em }
      }
    }
    @include media('<tablet', '<=homecolumns') {
      top: 14%;
      .hero__content {
        .succeed { font-size: 2.8em }
        .without-selling { font-size: 0.9em }
        .build-your { font-size: 0.9em }
        .legacy { font-size: 2.8em }
      }
    }
    @include media('<homecolumns', '<=lgphone') {
      top: 14%;
      left: 10%;
      .hero__content {
        .succeed { font-size: 2.2em }
        .without-selling { font-size: 1em }
        .build-your { font-size: 1em }
        .legacy { font-size: 2.2em }
      }
      .hero__buttons {
        margin-top: 0;
      }
    }
    @include media('<lgphone', '<=phone') {
      top: 14%;
      left: 6%;
    }
  }

  @include media('<desktop', '<=1000px') {
    height: 60vh;
    width: 100%;
    video {
      height: 70vh;
      width: 100%;
    }
  }

  @include media('<1000px', '<=lgphone') {
    height: 50vh;
  }
}

