button {
  color: black !important;
  background-color:  #F5E051;
  border: 1px solid;
  border-color: #6F1AA1;
  border-radius: 2em;
  padding: 1em;
}

.fa-times {
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: 94%;
  color: black;
  font-size: 2rem;
}