@import "../../breakpoints/MediaBreakpoints.scss";


.navbar {
  // margin: 0;
  // height: 100vh;
  .navbar-container {
    position: absolute;
    top: 3.5em;
    right: 10em;
    font-size: 1.2em;
    @include media("<=desktop") {
      top: 3em;
      right: 5.5em;
      font-size: 1.1em;
    }
    // centering the navbar
    @include media("<desktop", "<=tablet") {
      // right: 3em;
      font-size: 2.5vw;
      margin-left: auto;
      margin-right: auto;
      top: 2em;
      left: 0;
      right: 30px;
      text-align: center;
    }
    .nav-menu {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      // padding-top: 50px;
      // &.active {
      //   background: #242222;
      //   left: 0;
      //   opacity: 1;
      //   transition: all 0.5s ease;
      //   z-index: 1;
      // }
      .nav-item {
        list-style-type: none; 
        list-style: none;
      }
      // .nav-li {
      //   list-style-type: none;
      //   list-style:none;
      //   &.navbar__contactMe {
      //     margin-left: 1em;
      //   }
      // }
    }
  }

  @include media('<tablet', "<=lgphone") {
    background: #242222;
    .navbar-container {
      position: static;
      .nav-menu {
        // https://clearleft.com/posts/an-equal-height-grid-using-flexbox
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        font-size: 0.6em;
        padding-top: 19em;
        // .nav-item {
        //   font-size: 3em;
        //   display: flex; 
        //   width: 100%;
          
        //   height: 16.16666vh;
        //   // height: 20vh;
        //   padding: 0.1em;

        //   text-align: center;
        //   align-items: center;

        //   .nav-content {
        //     display: flex;
        //     flex-direction: column;
        //     width: 100%;
        //     .nav-link-component {
        //       flex: 1 0 auto;
        //     }
        //   }
        // }
      }
    }
  }
}

// .nav-menu.active {
//   background: #242222;
//   left: 0;
//   opacity: 1;
//   transition: all 0.5s ease;
//   z-index: 1;
// }