.navbar {
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  white-space: nowrap;
}
.navbar header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}


.navbar li, .navbar a, .navbar button {
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
}

.navbar__menuIconTimes, .navbar__menuIconBars {
  display: none;
}

.fa-bars-white {
  color: #fff;
}
.fa-bars-black {
  color: black;
}

.navbar__logo {
  cursor: pointer;
  margin-right: auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navbar__links {
  list-style: none;
}

.navbar__links li {
  display: inline-block;
  padding: 0 8px 0 8px;
}

li a {
  transition: all 0.3s ease 0s;
}

li a:hover {
  color: #F5E051;
}

li.navbar__linkButton {
  padding-left: 2.9em;
}


@media screen and (max-width: 425px) {
  /* .navbar__links.active {
    background: #242222;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  } */

  .navbar header {
    position: static;
    padding: 0;
    justify-content: center;
  }

  .navbar__menuIcon {
    display: block;
    /* position: absolute; */
    /* transform: translate(-140%, -5%); */
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .navbar__menuIconTimes {
    position: absolute;
    top: 37px;
    right: 54px;
  }

  .navbar__logoBars {
    width: 89%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__logo {
    cursor: pointer;
    margin-right: 0;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  
  /* header .navbar__links {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    font-size: 0.6em;
    padding-top: 0;
  } */

  nav {
    justify-content: center;
    text-align: center;
  }
  nav .navbar__links .navbar__item {
    display: flex;
    height: 14vh;
    padding-top: 6.3em;
    width: 100%;
  }
}
