.navbar {
  position: absolute;
  top: -55px;
  /* padding-left: 20px; */
  width: 100%;
  white-space: nowrap;
}
.navbar header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 30px 10%; */
  padding: 30px 7% 30px 10%;
}


.navbar__logo {
  cursor: pointer;
  margin-right: auto;
  z-index: 999;
}

.navbar li, .navbar a {
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
}

.navbar__menuIconTimes, .navbar__menuIconBars {
  display: none;
}

.fa-bars-white {
  color: #fff;
}
.fa-bars-black {
  color: black;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navbar__links {
  list-style: none;
}

.navbar__links li {
  display: inline-block;
  /* padding: 0 8px; */
}

li a {
  transition: all 0.3s ease 0s;
}

li a:hover {
  color: #F5E051;
}

li.navbar__linkButton {
  padding-left: 2.9em;
}

@media screen and (max-width: 1024px) {
  .navbar header {
    padding: 10px 6% 10px 10%;
  }
  
  .navbar li, .navbar a {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 768px) {
  .navbar header {
    padding: 15px 1% 15px 5%;
  }
  
  .navbar li, .navbar a {
    font-size: 1.03em;
  }
}

@media screen and (max-width: 528px) {
  .navbar header {
    padding: 15px 3% 15px 5%;
  }
  
  .navbar li, .navbar a {
    font-size: 1em;
  }

  .navbar__links li {
    display: inline-block;
    margin: 0 -14px;
  }
}



@media screen and (max-width: 425px) {
  /* .navbar__links.active {
    background: #242222;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  } */

  .navbar header {
    position: static;
    padding: 0;
    justify-content: center;
  }

  .navbar__menuIcon {
    display: block;
    /* position: absolute; */
    /* transform: translate(-140%, -5%); */
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .navbar__menuIconTimes {
    position: absolute;
    top: 37px;
    right: 54px;
  }

  .navbar__logoBars {
    width: 89%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__logo {
    cursor: pointer;
    margin-right: 0;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  
  /* header .navbar__links {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    font-size: 0.6em;
    padding-top: 0;
  } */

  nav {
    justify-content: center;
    text-align: center;
  }
  nav .navbar__links .navbar__item {
    display: flex;
    height: 14vh;
    padding-top: 5.8em;
    width: 100%;
  }
}
