@import "../../breakpoints/MediaBreakpoints.scss";


.skintech {
  height: 100vh;
  position: relative;
  .skintech__heroContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: black;
    @include media('<=800px') {
      left: 6%
    }
    @include media('<=500px') {
      position: static;
      top: 0;
      left: 0;
      -ms-transform: none;
      transform: none;
      padding-top: 6em;
    }

    .skintech__heroTitle {
      font-weight: bold;
      .protective {
        font-size: 6.5em;
        // font-size: 5vw;
        color: #4F1AE2;
        height: 120px;
      }
      .glove {
        font-size: 6.2em;
        // font-size: 5.3vw;
        color: #25D8F6; 
      }
    }
    .skintech__heroText {
      font-size: 1.5em;
      // font-size: 1.2vw;
      line-height: 2em;
      font-weight: 300;
      padding-bottom: 1em;
    }






    // .skintech__textHeader {
    //   font-size: 0.7em;
    //   font-weight: 400;
    // }

    // .skintech__textSubheader {
    //   font-size: 0.7em;
    //   font-weight: 200;
    // }
    
    // .skintech__textHeader > span {
    //   color: #460edf;
    //   font-weight: 500;
    // }

    .skintech__textSubheader {
      font-size: 0.8em;
      font-weight: 600;
    }

    .skintech__textHeader {
      font-size: 0.7em;
      font-weight: 200;
    }
    
    .skintech__textHeader > span {
      color: #460edf;
      font-weight: 500;
    }
    






    .skintech__buttons {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
    }

    @include media('<=1280px') {
      .skintech__heroTitle {
        .protective {
          // font-size: 6.5em;
          font-size: 7.3vw;
          // margin-bottom: 0.1em;
          height: 100px;

        }
        .glove {
          font-size: 6.7vw;
        }
      }

      .skintech__textSubheader {
        font-size: 1.7vw;
      }
  
      .skintech__textHeader {
        font-size: 1.5vw;
      }
    }

    @include media('<1280px', '<=1050px') {
      .skintech__heroTitle {
        .protective { height: 80px }
      }
    }

    @include media('<1050px', '<=800px') {
      .skintech__heroTitle {
        .protective {
          font-size: 9vw;
          height: 60px;
        }
        .glove {
          font-size: 8.5vw;
        }
      }
      .skintech__heroText {
        line-height: 1.5em;
      }

      .skintech__textSubheader {
        font-size: 2vw;
      }
  
      .skintech__textHeader {
        font-size: 1.8vw;
      }

      .skintech__buttons {
        margin-top: 0;
      }
    }

    @include media('<800px', '<=500px') {
      text-align: center;
      .skintech__heroTitle {
        .protective {
          font-size: 42px;
        }
        .glove {
          font-size: 42px;
        }
      }

      .skintech__textSubheader {
        font-size: 14px;
      }
  
      .skintech__textHeader {
        font-size: 12px;
        font-weight: 300;
      }

      .skintech__buttons {
        justify-content: center;
        margin-top: 0em;
      }
    }
  }

  @include media('<500px', '<=425px') {
    text-align: center;

    .skintech__textSubheader {
      font-size: 11px !important;
    }

    .skintech__textHeader {
      font-size: 10px !important;
      font-weight: 300;
    }

    .skintech__buttons {
      justify-content: center;
      margin-top: 0em;
    }
  }

  .skintech__img {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
  }
  
  .skintech__productImg {
    transform: rotate(-10deg);
  }

  @include media('<=800px') {
    .skintech__img {
      position: absolute;
      left: 76%;
      top: 54%;
    }
  }

  @include media('<800px', '<=500px') {
    .skintech__img {
      position: absolute;
      left: 48%;
      bottom: 50%;
    }
  }
}




























// // .skintech__img {
// //   height: 200px;
// //   position: relative;
// //   border: 3px solid green; 
// //   .skintech__centering {
// //     margin: 0;
// //     position: absolute;
// //     top: 50%;
// //     -ms-transform: translateY(-50%);
// //     transform: translateY(-50%);
// //   }
// // }

// // img {
// //   float: left;
// //     margin-right: 20px;
// //     vertical-align :middle;
// // }
// .skintech__img {
//   // display: absolute;
//     position: absolute;
//     left: 70%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     z-index: -1;
// }

// .skintech__productImg {
//   transform: rotate(-10deg);
// }

// // .skintech__img {
// //   width: 300px;
// //   height: 300px;
// //   background-color: blue;
// //   line-height: 300px;
// //   text-align: right;
// //   img {
// //     vertical-align: middle;
// //   }
// // }






// .skintech__transHalfBlack {
//   position: absolute;
//   // background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
//   width: 50%;
//   height: 100%;
//   top: 0;
//   left: -15px;
//   z-index: -1;
//   .skintech__heroContentWrapper {
//     display: grid;
//     height: 100vh;
//     color: black;
//     .skintech__heroContent {
//       place-self: center;
//       .skintech__heroTitle {
//         font-weight: bold;
//         .protective {
//           font-size: 6.5em;
//           // font-size: 5vw;
//           color: #4F1AE2;
//         }
//         .glove {
//           font-size: 6.2em;
//           // font-size: 5.3vw;
//           color: #25D8F6; 
//           // padding-top: -10px;
//         }
//       }
//       .skintech__heroText {
//         font-size: 1.5em;
//         // font-size: 1.2vw;
//         line-height: 2.2em;
//         font-weight: 300;
//         padding-bottom: 1em;
//       }
// .skintech__heroText > .skintech__textHeader > span {
  //       //   color: #7E58AF;
//       // }
//       .skintech__buttons {
//         margin-top: 1em;
//         display: flex;
//         flex-direction: row;
//       }
//     }
//   }
// }